<h2>Clans</h2>
<p>This is a public groups listing, to add or edit your groups you need to be signed in</p>
<button ng-if="!user" ng-click="login()">Login With Google</button>
<button ng-if="user" ng-click="signOut()">Logout</button>
<p ng-if="error">Error: <strong>{{ error }}</strong></p>

<div>
    <input type="text" ng-model="projectList.search" class="search-query" id="projects_search"
           placeholder="Search">
</div>
<div class="table">
    <table>
        <thead>
        <tr>
            <th>Clan</th>
            <th>Description</th>
            <th>Join</th>
            <th><a ng-if="user" ng-href="/add"><i class="fa fa-plus"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="clan in clans | filter:projectList.search | orderBy:'name'">
            <td>{{ clan.name }}</td>
            <td>{{ clan.desc }}</td>
            <td><pre ng-if="clan.id">/join_{{ clan.id }}</pre></td>
            <td>
                <a ng-if="user.uid === clan.uid" ng-href="/edit/{{ clan.$id }}"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>