<h2>Add a clan to he listing</h2>
<form ng-submit="addClan()">
    <input type="text" ng-model="newClanName" placeholder="Name"/>
    <input type="text" ng-model="newClanDesc" placeholder="Description"/>
    <input type="text" ng-model="newClanID" placeholder="Clan id (the string after /join_)"/>
    <button type="submit">Register Clan</button>
</form>
<a ng-href="/clans">
    <button>Go back</button>
</a>