/* global */
body {
  font-family      : 'Open Sans', sans-serif;
  font-size        : 16px;
  margin           : .5em;
  background-color : #eee;
  color            : #292f2f;
  padding-bottom   : 60px;
}

a {
  text-decoration : none;
  color           : #008499;
}

a:hover {
  color : #3baec4;
}

/* footer */
footer {
  position         : fixed;
  bottom           : 0;
  right            : 0;
  left             : 0;
  text-align       : right;
  padding-right    : .3em;
  padding-top      : .5em;
  padding-bottom   : .3em;
  border-top       : 1px solid #bbb;
  background-color : #ddd;
  z-index          : 100;
  overflow         : auto;
  white-space      : nowrap;
}

footer a {
  color      : #444;
  display    : inline-block;
  text-align : center;
}

.f-icn { /* mnemonic: footer icon */
  height        : 33px;
  margin-bottom : -5px;
}

.nmt { /* mnemonic: no margin top */
  margin-top : 0;
}

.nmb { /* mnemonic: no margin bottom */
  margin-bottom : 0;
}

.pl { /* mnemonic: pull left */
  float        : left;
  margin-left  : 0;
  padding-left : .1em;
  text-align   : center;
}

/* clans */
table {
  border-collapse : collapse;
}

div.table,
table {
  min-width  : 49%;
  overflow-x : scroll;
}

th {
  font-weight   : bold;
  border-bottom : 1px solid #666;
  padding-right : 1em;
  text-align    : left;
}

tr:nth-child(even) {
  background-color : #ddd;
}

td {
  padding-right : .5em;
}

@media all and (max-width : 800px) {
  div.table,
  table {
    min-width : 100%;
    width     : 100%;
  }
}

pre {
  margin: 0;
}

/* input */
input[type=text] {
  outline          : none;
  border           : none;
  background-color : transparent;
  border-bottom    : 1px solid #bbb;
  transition       : border-bottom .5s;
  width            : 49%;
  font-size        : 1.5em;
}

input[type=text]:focus {
  border-bottom : 1px solid #4caf50;
}

@media all and (max-width : 800px) {
  input[type=text] {
    width      : 100%;
    margin-top : .5em;
  }
}

button {
  background-color : #4caf50;
  border           : none;
  color            : white;
  padding          : .5em .5em;
  text-align       : center;
  text-decoration  : none;
  display          : inline-block;
  cursor           : pointer;
  margin-top       : .5em;
  border-radius    : 5%;
  font-size        : 1.2em;
  margin-bottom    : .5em;
}

.red {
  background-color : #eb0000;
}

.faq {
  padding-left : .5em;
  list-style   : none;
}

.question::before {
  content     : "Q:";
  position    : relative;
  left        : -0.5em;
  font-weight : bold;
}

.answer::before {
  content     : "A:";
  position    : relative;
  left        : -0.5em;
  font-weight : bold;
}

.answer {
  padding-left  : 1em;
  margin-bottom : .5em;
}
